__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

.venv/
.env

mlruns/
mlflow.db

data/**
!data/**/
!data/**/*.dvc
!data/**/*.gitkeep


artifacts/
*.onnx
*.pth
*.ckpt

.dvc/cache/

.DS_Store

node_modules/
